.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 6rem;
    column-gap: 5rem;
    align-items: start;

    @media only screen and (max-width: $medium) {
        margin: 10rem 0;
    }
}

//reusable component 
.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2rem;
    row-gap: 1.5rem;



    &__icon {
        height: 4.5rem;
        width: 4.5rem;
        fill: $color-primary-dark;

        //grid-row : 1 / -1 ----> here the -1 trick only works with explicit grids and here we are  dealing with implicit grid
        grid-row: 1 / span 2;
        transform: translateY(-1.5rem);

        @media only screen and (max-width: $phone) {
            transform: translateY(-0.5rem);
        }
    }   
}